<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="css/slider.css">
</head>
<body>
    <div id="app">
        <h1>SLIDER</h1>
        <div class="margin">
            <h1>Imagen num: {{total +1}}</h1>
            <div class="img" >
                <img src="img/coronavirus13-03-2020.PNG" v-if="total==0" alt="no image" width="100%" height="100%">
                <img src="img/coronavirus14-03-20202.PNG" v-if="total==1" alt="no image" width="100%" height="100%">
                <img src="img/coronavirus15-03-2020.PNG" v-if="total==2" alt="no image" width="100%" height="100%">
                <img src="img/coronavirus16-03-2020.PNG" v-if="total==3" alt="no image" width="100%" height="100%">
                
            </div>
            <br>
        <button @click="reset">Boton</button>
        <button @click="total=0">Reset</button>
        </div>
    </div>

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/slider.js"></script>
</body>
</html>